RewriteEngine on

RewriteCond %{HTTP_REFERER} !^http://princeza1.sanandreasts.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://princeza1.sanandreasts.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://sanandreas.hr/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://sanandreas.hr$      [NC]
RewriteCond %{HTTP_REFERER} !^http://sanandreas.sanandreasts.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://sanandreas.sanandreasts.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://sanandreasts.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://sanandreasts.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://sibenikguide.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://sibenikguide.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://sibenikguide.sanandreasts.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://sibenikguide.sanandreasts.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://villa-senija.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://villa-senija.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://villa-senija.sanandreasts.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://villa-senija.sanandreasts.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.princeza1.sanandreasts.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.princeza1.sanandreasts.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.sanandreas.hr/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.sanandreas.hr$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.sanandreas.sanandreasts.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.sanandreas.sanandreasts.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.sanandreasts.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.sanandreasts.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.sibenikguide.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.sibenikguide.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.sibenikguide.sanandreasts.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.sibenikguide.sanandreasts.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.villa-senija.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.villa-senija.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.villa-senija.sanandreasts.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.villa-senija.sanandreasts.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.xn--prinea1-m6a23h.hr/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.xn--prinea1-m6a23h.hr$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.zablace.org/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.zablace.org$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.zablace.sanandreasts.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.zablace.sanandreasts.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://xn--prinea1-m6a23h.hr/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://xn--prinea1-m6a23h.hr$      [NC]
RewriteCond %{HTTP_REFERER} !^http://zablace.org/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://zablace.org$      [NC]
RewriteCond %{HTTP_REFERER} !^http://zablace.sanandreasts.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://zablace.sanandreasts.com$      [NC]
RewriteCond %{HTTP_REFERER} !^https://princeza1.sanandreasts.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://princeza1.sanandreasts.com$      [NC]
RewriteCond %{HTTP_REFERER} !^https://sanandreas.hr/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://sanandreas.hr$      [NC]
RewriteCond %{HTTP_REFERER} !^https://sanandreas.sanandreasts.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://sanandreas.sanandreasts.com$      [NC]
RewriteCond %{HTTP_REFERER} !^https://sanandreasts.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://sanandreasts.com$      [NC]
RewriteCond %{HTTP_REFERER} !^https://sibenikguide.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://sibenikguide.com$      [NC]
RewriteCond %{HTTP_REFERER} !^https://sibenikguide.sanandreasts.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://sibenikguide.sanandreasts.com$      [NC]
RewriteCond %{HTTP_REFERER} !^https://villa-senija.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://villa-senija.com$      [NC]
RewriteCond %{HTTP_REFERER} !^https://villa-senija.sanandreasts.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://villa-senija.sanandreasts.com$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.princeza1.sanandreasts.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.princeza1.sanandreasts.com$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.sanandreas.hr/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.sanandreas.hr$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.sanandreas.sanandreasts.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.sanandreas.sanandreasts.com$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.sanandreasts.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.sanandreasts.com$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.sibenikguide.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.sibenikguide.com$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.sibenikguide.sanandreasts.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.sibenikguide.sanandreasts.com$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.villa-senija.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.villa-senija.com$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.villa-senija.sanandreasts.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.villa-senija.sanandreasts.com$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.xn--prinea1-m6a23h.hr/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.xn--prinea1-m6a23h.hr$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.zablace.org/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.zablace.org$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.zablace.sanandreasts.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.zablace.sanandreasts.com$      [NC]
RewriteCond %{HTTP_REFERER} !^https://xn--prinea1-m6a23h.hr/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://xn--prinea1-m6a23h.hr$      [NC]
RewriteCond %{HTTP_REFERER} !^https://zablace.org/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://zablace.org$      [NC]
RewriteCond %{HTTP_REFERER} !^https://zablace.sanandreasts.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://zablace.sanandreasts.com$      [NC]
RewriteRule .*\.(jpg|jpeg|gif|png|bmp)$ - [F,NC]
