/* RESET CSS */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
  vertical-align: baseline;
  outline: none;
  text-decoration: none;
}
* {
    box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
body {
    color:#FFFFFF;
    background-color: #ffede9;
    font-family: "Playfair Display", serif;
    font-size: 18px;
}

/* header */
header {
    position: fixed;
    background-color: #ffede9;
    width:100%;
    top: 0;
    left: 0;
    z-index: 2;
    border-bottom: 1px solid #fcd7cf;
}
#header-lower-wrapper{
    margin: 0 auto;
    width: 70%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#logo-p {
    font-family: "Playfair Display", serif;
    font-size: 2em;
    font-weight: 100;
}
.logo-number-one {
    font-size: 1.4em;
    line-height: 0em;
    font-weight: 100;
}
#logo-p a {
    color: #2d3f5e;
    text-decoration: none;
}

#nav-menu-link-every {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    padding: 0px 10px;
    overflow: hidden;
}

nav li a {
    display: block;
    text-align: center;
    text-decoration: none;
    padding: 14px;
    color: #2d3f5e;
    font-weight: 600;
}

nav li:hover {
     background-color: #fcd7cf;
}

/* main content*/ 
main {
    display: static;
}

/* sections */
.odd {
    background-color: #ffede9;;
}
.even {
    background-color: #FFFFFF;
    color: #2d3f5e;
}
.section-block {
    padding-top: 51px;
    color: #2d3f5e;
    text-align: center;
}
.vidijos::after {
  content: "Vidi još";
}
/* 1st section(landingpage) */
#landing-page {
    min-height: 100vh;
    color: #2d3f5e;
    text-align: center;
    background-image: 
    linear-gradient(
      rgba(255, 237, 233, 0.4), 
      rgba(255, 237, 233, 0.4)
    ), url(img/pink-manicure3.jpg);
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
/*hide mail*/
.email::after {
  content: "dijana.bezbradica@gmail.com"
}
.princeza::after {
  content: "prinčeža"
}
/* sections typography */
h1 {
    font-size: 3em;
    font-weight: 700;
}
#landing-page p {
    font-size: 1.5em;
    font-weight: 500;
}
p.grid-h {
  font-weight: 700 !important;
  font-size: 1.8em !important;
}
p.grid-p {
  font-size: 1.1em !important;
}
h2 {
  font-size: 2em;
  font-weight: 700;
  padding-top: 49px;
  padding-bottom: 100px;
}
h3 {
  font-size: 1.3em;
  font-weight: 700;
}
/*landing page content*/
.grid-presentation {
  margin: 0 auto;
  width:70%;
  display:flex;
  flex-direction: row;
  justify-content: space-evenly;
}
.grid-presentor {
  width: 30%;
  margin: 20px;
  background-color: #FFFFFF;
  opacity: 0.7;
  min-height: 30vh;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.grid-presentor:hover {
  opacity: 1;
}
/* section usluge */
.three-two {
  width: 70%;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: stretch;
}
.three-two-every {
  min-width: 25%;
  max-width: 25%;
  margin: 0 20px;
  opacity: .9;
  background-color: #ffede9;
}
.three-two-every img {
  width:100%;
}
.three-two-every a {
  text-decoration: none;
  color: #2d3f5e;
}
.three-two-every:hover {
  opacity: 1;
  cursor: pointer;
}
.three-two-every p {
  margin: 15px 0;
  font-size: 1.4em;
  font-weight: 600;
  padding: 10px;
}
.usluge-opis {
  font-size: .8em;
  font-weight: 400;
}
.more {
  height: 200px;
  display:flex;
  justify-content: center;
  align-items: center;
}
.more-link{
  padding: 10px 20px;
  border: 2px solid #2d3f5e;
  font-weight: 600;
  color: #2d3f5e;
}
/*section o nama*/
#o-nama {
  background-image: 
    linear-gradient(
      rgba(255, 237, 233, 0.9), 
      rgba(255, 237, 233, 0.9)
    ), url(img/spring-flower3.jpg);
    background-position: top left;
    background-repeat: no-repeat;
    background-size: cover;
}
.more-link:hover {
  border: 2px solid #e08283;
  color: #e08283;
}
.half-half {
  margin: 0 auto;
  width: 70%;
  display: flex;
  justify-content: center;
  flex-direction: row;
}
.half-half-left,
.half-half-right {
  min-width: 50%;
  margin: 0px 20px;
  text-align: left;
}
.half-half-left {
  display: flex;
  flex-direction: row;
}
.half-half-left img {
  width: 100%;
}
.half-half-right p {
  line-height: 1.5;
  font-family: 'Rubik', sans-serif;
}
/*section edukacija*/
#edukacija {
  background-image: 
    linear-gradient(
      rgba(255, 237, 233, 0.9), 
      rgba(255, 237, 233, 0.9)
    ), url(img/rose-petals.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}
.edukation-half {
  padding-bottom: 0px;
}
/*konatkt*/
.kontakt-content {
  width: 70%;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  padding-bottom: 100px;
  justify-content: center;
}
.map-frame{
  width:800px;
  height:400px;
  border: 0;
}
.kontact-info {
  text-align: left;
  margin-left: 20px;
  display: flex;
  flex-direction: column;
  width:100%;
  padding-left: 20px;
}
.k-i-address,
.k-i-phone,
.k-i-email,
.k-i-social {
  margin: 15px 0;
}
.k-i-p-logo {
  font-size: 1.5em;
}
.k-i-p-header {
  font-weight: 700;
  font-size: 1.1em;
}
.fa-instagram,
.fa-facebook-square {
  font-size: 1.5em;
  margin-top: 5px;
}
.icon-link {
  color: #2d3f5e;
}
.icon-link:hover {
  color: #e08283;
}
#cjenik {
  padding-bottom: 100px;
}
.cjenik-table {
  width: 70%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
}
.cjenik-table-header {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.cjenik-table-header-tab {
  padding: 0 10px;
}

.cjenik-table-header-tab p {
  font-size: 1.5em;
  font-weight: 700;
}
.ctht-inactive p {
  color: #67809f;
}
.ctht-active p {
  color: #2d3f5e;
}
.ctht-inactive p:hover {
  color: #2d3f5e;
  cursor: pointer;
}
.cjenik-data {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-top: 1.5em;
}
.cjenik-data p {
  font-size: 1.2em;
  font-family: 'Rubik', sans-serif;
  line-height: 1.5;
}
.cjenik-data-left,
.cjenik-data-right{
  width:50%;
  padding: 10px;
}
.cjenik-data-left {
  text-align: right;
}
.cjenik-data-right {
  text-align: left;
}
.cjenik-row-p { /*add empty row to pricelist*/
  display: none;
}
#gel-tehnika {
  display: flex;
}
#nail-art {
  display: none;
}
#manikura {
  display: none;
}
#pedikura {
  display: none;
}
/* section reviews */
#recenzije-outer {
  background-image: 
    linear-gradient(
      rgba(255, 237, 233, 0.5), 
      rgba(255, 237, 233, 0.5)
    ), url(img/woman-wearing-straw-hat-standing-in-bed-of-sunflowers.jpg);
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
    padding-bottom: 100px;
}
.recenzije-content {
  width:50%;
  margin: 0 auto;
  background-color: #FFFFFF;
  margin-top: 40px;
}
.recenzije-content h2 {
  padding: 40px 0px;
}
#recenzije {
  display: flex;
  flex-direction: column;
}
#recenzije-upper {
  display:flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: nowrap;
  align-items: stretch;
}
#recenzija-left,
#recenzija-right {
  padding: 0px 15px;
  display: flex;
  align-items: center;
  cursor: pointer;
}
#recenzija-review{
  padding: 0px 20px;
  min-height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
#quote {
  font-family: 'Roboto', sans-serif;
  font-style: italic;
}

#author {
  padding-top: 20px;
  font-weight: 700;
}
.review-p-lr{
  font-size: 2em;
}
#recenzija-left:hover,
#recenzija-right:hover {
  color: #e08283;
}
#progress-bar {
  width: 0%;
  height: 4px;
  background-color: #e08283;
}
/* section img gallery */
.img-row-four {
  width:70%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-flow: wrap;
  align-items: stretch;
  padding-bottom: 100px;
}
.img-row-four-every {
  min-width: 40%;
  max-width: 40%;
  margin: 20px;
}
.img-row-four-every img {
  width: 100%;
}
/* footer */
footer {
  text-align: center;
  font-family: 'Rubik', sans-serif;
  background-color: #ffede9;
  font-size: 0.8em;
  border-top: 1px solid #e08283;
}
.footer-row1 {
  color: #2d3f5e;
  text-align: left;
  width: 70%;
  margin: 0 auto;
  display:flex;
  flex-direction: row;
  justify-content: center;
}
.footer-col {
  padding: 30px;
}
.footer-header {
  padding: 10px 0;  
  font-size: 1.5em;
  border-bottom: 1px solid #b04f5f;
}
.footer-first {
  padding-top: 10px;
}
.web-nav-links {
  display:flex;
  flex-direction: column;
}
.web-nav-links a,
.web-nav-links a:active,
.web-nav-links a:visited {
  
  color: #2d3f5e;
}
.web-nav-links a:hover{
  color: #b04f5f;
}
.footer-fafa {
  color: #2d3f5e;
}
.footer-fafa:hover {
  color: #b04f5f;
}

/* creator */
#devolans {
    background-color: #2c3e50;
    margin-top: 5px;
    font-size: 12px;
}
#devolans a {
    color: #FFFFFF;
}
#devolans a:hover {
    color: #95a5a6;
}

/* to top button */
#to-top {
  position: fixed;
  right: 1px;
  bottom: 100px;
  background-color: #e08283;
  padding: 10px;
  color: #FFFFFF;
  display: none;
}
#to-top:hover {
  background-color: #b04f5f;
}
/* some ::after */
.logo-name::after {
  content: "Prinčeža 1";
}
.adresa::after {
  content: "Vladimira Nazora 9";
}
/*----------------------------*/
/*        USLUGE PAGE         */
/*----------------------------*/
#usluge-page {
  position: static;
  min-height: 100vh;
  background-image: 
  linear-gradient(
    rgba(255, 237, 233, 0.4), 
    rgba(255, 237, 233, 0.4)
  ), url(img/arrangement-beautiful-beauty-blooming-306066.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size:cover;
  padding: 100px 0;
}
.white-wrapper {
  width: 70%;
  margin: 0 auto;
  background-color: #fff;
  min-height: 200px;
  color: #2d3f5e;
  text-align: center;
  padding: 0px 100px;
}
.white-wrapper h1 {
  margin: 0px;
  padding: 100px 0;
}
.ww-inline {
  text-align: left;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: stretch;
}
.ww-inline-left,
.ww-inline-right {
  min-width: 50%;
  padding-left: 10px;
  padding-right: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
hr {
  width: 30%;
  border: 1px solid #e08283;
  margin: 50px auto;
}
.last {
  padding-bottom: 100px !important;
}

.ww-inline-right img,
.ww-inline-left img{
  width: 100%;
}
.ww-inline-h2,
.ww-inline-tag {
  display: inline;
  padding: 0;
}
.ww-inline-h2 {
  font-size: 2em;
  padding: 0;
}
.ww-inline-tag {
  font-size: 1.3;
  font-weight: 700;
}
.ww-text {
  font-family: 'Rubik', sans-serif;
}
/*----------------------------*/
/*        O NAMA PAGE         */
/*----------------------------*/
#onama-page {
  position: static;
  min-height: 100vh;
  background-image: 
  linear-gradient(
    rgba(255, 237, 233, 0.4), 
    rgba(255, 237, 233, 0.4)
  ), url(img/pink-and-white-flowers.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size:cover;
  padding: 100px 0;
}
.onama-text {
  text-align: left;
  font-family: 'Rubik', sans-serif;
  padding-bottom: 20px;
}
.onama-text-last {
  font-family: "Playfair Display", serif;
  text-align: right;
  padding: 50px 50px 100px 0px;
}
#onama-page img {
  padding: 3px 15px 4px 0px;
  width: 35%;
  float: left;
}
/*----------------------------*/
/*       EDUKACIJA PAGE       */
/*----------------------------*/
#edu-page {
  position: static;
  min-height: 100vh;
  background-image: 
  linear-gradient(
    rgba(255, 237, 233, 0.4), 
    rgba(255, 237, 233, 0.4)
  ), url(img/magnolia-trees.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size:cover;
  padding: 100px 0;
}
.edu-text {
  text-align: left;
  padding-bottom: 20px;
  font-family: 'Rubik', sans-serif;
}
.white-wrapper ul{
  text-align: left;
  padding-left: 30px;
  padding-bottom: 20px;
  font-family: 'Rubik', sans-serif;
}
/*----------------------------*/
/*         RESPONSIVE         */
/*----------------------------*/
/*------   FRONT PAGE   ------*/
@media (max-width:1800px){
  #header-lower-wrapper {
    width: 90%;
  }
  .grid-presentation {
    width:80%;
  }
  .recenzije-content {
    width:80%;
  }
  .three-two {
    width: 80%;
  }
  .half-half {
    width: 80%;
  }
  .img-row-four {
    width:80%;
  }
  .kontakt-content {
    width:80%;
  }
  .white-wrapper {
    width: 80%;
    padding: 0px 50px;
  }
}
@media (max-width:1550px){
  .white-wrapper {
    width: 90%;
    padding: 0px 40px;
  }
}
@media (max-width:1400px){
  #header-lower-wrapper {
    width: 90%;
  }
  .grid-presentation {
    width:90%;
  }
  .recenzije-content {
    width:90%;
  }
  .three-two {
    width: 90%;
  }
  .three-two-every {
    min-width: 28%;
    max-width: 28%;
  }
  .half-half {
    width: 90%;
  }
  .img-row-four {
    width: 90%;
  }
  .cjenik-table {
    width: 90%;
  }
  .kontakt-content {
    width:90%;
  }
  .map {
    width: 60%;
    display: flex;
    justify-content: flex-end;
  }
  .map-frame {
    width: 600px;
  }
  .kontact-info {
    width: 40%;
  }
}
@media (max-width:1280px){
  .ww-text {
    font-size: .9em;
  }
}
@media (max-width:1100px){
  #header-lower-wrapper {
    width: 100%;
    padding: 0px 10px;
  }
  .grid-presentation {
    width:100%;
  }
  .kontakt-content {
    flex-direction: column;
  }
  .map {
    width: 100%;
    display: flex;
    justify-content: center;
  }
  .map-frame {
    width: 100%;
  }
  .kontact-info {
    padding-left: 0;
    margin-left: 0;
    margin: 0 auto;
    align-items: center;
    padding-top: 100px;
  }
  .k-i {
    text-align: center;
  }
  .cjenik-table-header-tab p {
    font-size: 1.3em;
  }
  .cjenik-data p {
    font-size: 1.1em;
  }
  .half-half {
    flex-direction: column;
    width: 80%;
  }
  .half-half-left,
  .half-half-right {
    width: 100%;
    margin: 0;
  }
  
  .half-half-right {
    padding-top: 50px;
  }
  .three-two {
    width: 100%;
  }
  #landing-page {
    background-image: 
    linear-gradient(
      rgba(255, 237, 233, 0.4), 
      rgba(255, 237, 233, 0.4)
    ), url(img/pink-manicure4.jpg);
    background-position: center top;
  }
  .ww-inline {
    flex-direction: column;
    margin: 0 auto;
    width: 70%;
  }
  
  .ww-inline-img-up {
    padding-bottom: 20px;
  }
  .ww-inline-img-down {
    padding-top: 20px;
  }
  .ww-text-first {
    padding-top: 10px;
  }
}

/* header nav to menu */
.show-hide-menu {
  border: none;
  background-color: #ffede9;
  font-size: 2em;
}
.fa-bars,
.fa-times {
  color:#2d3f5e;
  padding-top: 5px;
}

.fa-times {
  font-size: 1.3em;
}
#nav-menu {
  display: none;
}
#close-menu {
  display: none;
}
@media (max-width:1000px){
  #nav-menu {
    display: flex;
  }
  #nav-menu-link {
    display: none;
  }
  nav li a {
    padding: 3px 30px 3px 30px;
  }
  .email {
    font-size: .9em;
  }

  .footer-row1 {
    width: 100%;
  }
  .cjenik-data-left {
    width: 60%;
  }
  .cjenik-data-right {
    width:40%;
  }
  .ww-inline {
    width: 80%;
  }
  #onama-page img {
    width: 50%;
  }
}
@media (max-width:880px){
  .email {
    font-size: .8em;
  }
  .cjenik-data-left {
    width: 70%;
  }
  .cjenik-data-right {
    width: 30%;
  }
  .ww-inline {
    width: 90%;
    padding: 0;
  }
}
@media (max-width:760px){
  .img-row-four-every {
    min-width: 100%;
    max-width: 100%;
    padding: 0px 20px;
  }
  .grid-presentation {
    flex-direction: column;
    align-items: center;
    padding: 100px 0px;
  }
  .grid-presentor {
    width: 80%;
  }
  .email {
    font-size: 1em;
  }
  .kontact-info {
    width: 90%;
  }
  .cjenik-data p {
    font-size: 1em;
  }
  .three-two {
    flex-direction: column;
    align-items: center;
  }
  .three-two-every {
    min-width: 60%;
    max-width: 60%;
    margin: 20px 0px;
  }
  h1 {
    padding-top: 100px;
  }
  
}
@media (max-width:650px){
  .footer-row1 {
    flex-direction: column;
  }
  .cjenik-table {
    width: 100%;
  }
  .white-wrapper {
    width: 100%;
    margin: 0;
    padding: 0px;
  }
  #usluge-page,
  #onama-page,
  #edu-page {
    padding: 0;
  }
  #onama-page img {
    width: 50%;
  }
  .ww-inline-left,
  .ww-inline-right {
    padding: 0;
    margin: 0;
  }
}
@media (max-width:550px){
  .footer-row1 {
    flex-direction: column;
  }
  .cjenik-table {
    width: 100%;
  }
  .cjenik-row-p {
    display: block;
  }
  .three-two-every {
    min-width: 80%;
    max-width: 80%;
  }
  #onama-page img {
    width: 100%;
    float: none;
    margin: 0 auto;
    padding-bottom: 50px;

  }
}
@media (max-width:451px){
  .cjenik-data p {
    font-size: .9em;
  }
  .cjenik-table-header-tab p {
    font-size: 1.1em;
  }
  #nav-menu {
    display: flex;
  }
  #nav-menu-link {
    display: none;
  }
  #logo-p {
    font-size: 1.4em;
    line-height: 1.7;
  }
  .fa-bars,
  .fa-times {
    font-size: 1em;
  }
  #recenzija-left,
  #recenzija-right {
    padding: 0px 2px;
  }
  #recenzija-review {
    padding: 0px 5px;
    min-height: 350px;
  }
  #quote,
  #author {
    font-size: 0.8em;
  }
}
@media (max-width:360px){
  .cjenik-table-header-tab p {
    font-size: .9em;
  }
  .cjenik-table-header-tab {
    padding: 0px;
  }
  .cjenik-table-header{
    justify-content: space-evenly;
  }
  .cjenik-data p {
    font-size: .8em ;
  }
}
@media (max-width:359px){
  nav ul li a {
    font-size: .8em;
  }
}
@media (max-width:340px){
  nav ul li a {
    font-size: .8em;
  }
  #recenzija-review {
    min-height: 400px;
  }
  #to-top {
    padding: 4px;
  }
  .email {
    font-size: .8em;
  }
  #logo-p {
    font-size: 1.2em;
  }
}