/* RESET CSS */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
  vertical-align: baseline;
  outline: none;
  text-decoration: none;
}
* {
    box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
body {
    color:#FFFFFF;
    background-color: #ffede9;
    font-family: "Playfair Display", serif;
    font-size: 18px;
}

/* header */
header {
    position: fixed;
    background-color: #ffede9;
    width:100%;
    top: 0;
    left: 0;
    z-index: 2;
    border-bottom: 1px solid #fcd7cf;
}
#header-lower-wrapper{
    margin: 0 auto;
    width: 70%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#logo-p {
    font-family: "Playfair Display", serif;
    font-size: 2em;
    font-weight: 100;
}
.logo-number-one {
    font-size: 1.4em;
    line-height: 0em;
    font-weight: 100;
}
#logo-p a {
  color: #2d3f5e;
    text-decoration: none;
}

nav ul {
    list-style-type: none;
    overflow: hidden;
}
nav li {
    float: left;
    padding: 0px 10px;
}
nav li a {
    display: block;
    text-align: center;
    text-decoration: none;
    padding: 14px;
    color: #2d3f5e;
    font-weight: 600;
}

nav li:hover {
     background-color: #fcd7cf;
}

/* main content*/ 
main {
    display: static;
    margin-top: 51px;
}

/* sections */
.odd {
    background-color: #ffede9;;
}
.even {
    background-color: #FFFFFF;
    color: #2d3f5e;
}
.section-block {
    padding-top: 51px;
    color: #2d3f5e;
    text-align: center;
}
.vidijos::after {
  content: "Vidi još";
}
/* 1st section(landingpage) */
#landing-page {
    height: 100vh;
    color: #2d3f5e;
    text-align: center;
    background-image: 
    linear-gradient(
      rgba(255, 237, 233, 0.4), 
      rgba(255, 237, 233, 0.4)
    ), url(img/pink-manicure3.jpg);
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
}
/*hide mail*/
.email::after {
  content: "dijana.bezbradica@gmail.com"
}
.princeza::after {
  content: "prinčeža"
}
/* sections typography */
h1 {
    font-size: 3em;
    font-weight: 700;
    margin-top: 120px;
}
#landing-page p {
    font-size: 1.5em;
    font-weight: 500;
}
p.grid-h {
  font-weight: 700 !important;
  font-size: 1.8em !important;
}
p.grid-p {
  font-size: 1.1em !important;
}
h2 {
  font-size: 2em;
  font-weight: 700;
  padding-top: 49px;
  padding-bottom: 100px;
}
h3 {
  font-size: 1.3em;
  font-weight: 700;
}
/*landing page content*/
.grid-presentation {
  margin: 0 auto;
  margin-top: 20vh;
  width:70%;
  display:flex;
  flex-direction: row;
  justify-content: space-evenly;
}
.grid-presentor {
  width: 30%;
  margin: 20px;
  background-color: #FFFFFF;
  padding: 50px;
  opacity: 0.7;
}
.grid-presentor:hover {
  opacity: 1;
}
/* section usluge */
.three-two {
  width: 70%;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: stretch;
}
.three-two-every {
  min-width: 25%;
  max-width: 25%;
  margin: 0 20px;
  opacity: .9;
  background-color: #ffede9;
}
.three-two-every img {
  width:100%;
}
.three-two-every a {
  text-decoration: none;
  color: #2d3f5e;
}
.three-two-every:hover {
  opacity: 1;
  cursor: pointer;
}
.three-two-every p {
  margin: 15px 0;
  font-size: 1.4em;
  font-weight: 600;
  padding: 10px;
}
.usluge-opis {
  font-size: .8em;
  font-weight: 400;
}
.more {
  height: 200px;
  display:flex;
  justify-content: center;
  align-items: center;
}
.more-link{
  padding: 10px 20px;
  border: 2px solid #2d3f5e;
  font-weight: 600;
  color: #2d3f5e;
}
/*section o nama*/
#o-nama {
  background-image: 
    linear-gradient(
      rgba(255, 237, 233, 0.9), 
      rgba(255, 237, 233, 0.9)
    ), url(img/spring-flower3.jpg);
    background-position: top left;
    background-repeat: no-repeat;
    background-size: cover;
}
.more-link:hover {
  border: 2px solid #e08283;
  color: #e08283;
}
.half-half {
  margin: 0 auto;
  width: 70%;
  display: flex;
  justify-content: center;
  flex-direction: row;
}
.half-half-left,
.half-half-right {
  min-width: 45%;
  margin: 0px 20px;
  max-width: 45%;
  text-align: left;
}

.half-half-left img {
  width: 100%;
}
.half-half-right p {
  line-height: 1.5;
  font-family: 'Rubik', sans-serif;
}
/*section edukacija*/
#edukacija {
  background-image: 
    linear-gradient(
      rgba(255, 237, 233, 0.9), 
      rgba(255, 237, 233, 0.9)
    ), url(img/rose-petals.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}
.edukation-half {
  padding-bottom: 0px;
}
.kontakt-content {
  width: 70%;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  padding-bottom: 100px;
}
.kontact-info {
  text-align: left;
  margin-left: 20px;
  display: flex;
  flex-direction: column;
  width:100%;
  padding-left: 20px;
}
.k-i-address,
.k-i-phone,
.k-i-email,
.k-i-social {
  margin: 15px 0;
}
.k-i-p-logo {
  font-size: 1.5em;
}
.k-i-p-header {
  font-weight: 700;
  font-size: 1.1em;
}
.fa-instagram,
.fa-facebook-square {
  font-size: 1.5em;
  margin-top: 5px;
}
.icon-link {
  color: #2d3f5e;
}
.icon-link:hover {
  color: #e08283;
}
#cjenik {
  padding-bottom: 100px;
}
.cjenik-table {
  width: 70%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
}
.cjenik-table-header {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.cjenik-table-header-tab {
  padding: 0 10px;
}

.cjenik-table-header-tab p {
  font-size: 1.5em;
  font-weight: 700;
}
.ctht-inactive p {
  color: #67809f;
}
.ctht-active p {
  color: #2d3f5e;
}
.ctht-inactive p:hover {
  color: #2d3f5e;
  cursor: pointer;
}
.cjenik-data {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-top: 1.5em;
}
.cjenik-data p {
  font-size: 1.2em;
  font-family: 'Rubik', sans-serif;
  line-height: 1.5;
}
.cjenik-data-left,
.cjenik-data-right{
  width:50%;
  padding: 10px;
}
.cjenik-data-left {
  text-align: right;
}
.cjenik-data-right {
  text-align: left;
}
#gel-tehnika {
  display: flex;
}
#nail-art {
  display: none;
}
#manikura {
  display: none;
}
#pedikura {
  display: none;
}
/* section reviews */
#recenzije-outer {
  background-image: 
    linear-gradient(
      rgba(255, 237, 233, 0.5), 
      rgba(255, 237, 233, 0.5)
    ), url(img/woman-wearing-straw-hat-standing-in-bed-of-sunflowers.jpg);
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
    padding-bottom: 100px;
}
.recenzije-content {
  width:50%;
  margin: 0 auto;
  background-color: #FFFFFF;
  margin-top: 40px;
}
.recenzije-content h2 {
  padding: 40px 0px;
}
#recenzije {
  display: flex;
  flex-direction: column;
}
#recenzije-upper {
  display:flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: nowrap;
  align-items: stretch;
}
#recenzija-left,
#recenzija-right {
  padding: 0px 15px;
  display: flex;
  align-items: center;
  cursor: pointer;
}
#recenzija-review{
  padding: 0px 20px;
  min-height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
#quote {
  font-family: 'Roboto', sans-serif;
  font-style: italic;
}

#author {
  padding-top: 20px;
  font-weight: 700;
}
.review-p-lr{
  font-size: 2em;
}
#recenzija-left:hover,
#recenzija-right:hover {
  color: #e08283;
}
#progress-bar {
  width: 0%;
  height: 4px;
  background-color: #e08283;
}
#recenzije-dots {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 40px 0px;
}
/* section img gallery */
.img-row-four {
  width:70%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-flow: wrap;
  align-items: stretch;
  padding-bottom: 100px;
}
.img-row-four-every {
  min-width: 40%;
  max-width: 40%;
  margin: 20px;
}
.img-row-four-every img {
  width: 100%;
}
/* footer */
footer {
  text-align: center;
  font-family: 'Rubik', sans-serif;
  background-color: #ffede9;
  font-size: 0.8em;
  border-top: 1px solid #e08283;
}
.footer-row1 {
  color: #2d3f5e;
  text-align: left;
  width: 70%;
  margin: 0 auto;
  display:flex;
  flex-direction: row;
  justify-content: center;
}
.footer-col {
  padding: 30px;
}
.footer-header {
  padding: 10px 0;  
  font-size: 1.5em;
  border-bottom: 1px solid #b04f5f;
}
.footer-first {
  padding-top: 10px;
}
.web-nav-links {
  display:flex;
  flex-direction: column;
}
.web-nav-links a,
.web-nav-links a:active,
.web-nav-links a:visited {
  
  color: #2d3f5e;
}
.web-nav-links a:hover{
  color: #b04f5f;
}
.footer-fafa {
  color: #2d3f5e;
}
.footer-fafa:hover {
  color: #b04f5f;
}

/* creator */
#devolans {
    background-color: #2c3e50;
    margin-top: 5px;
}
#devolans a {
    color: #FFFFFF;
}
#devolans a:hover {
    color: #95a5a6;
}

/* to top button */
#to-top {
  position: fixed;
  right: 1px;
  bottom: 100px;
  background-color: #e08283;
  padding: 10px;
  color: #FFFFFF;
  display: none;
}
#to-top:hover {
  background-color: #b04f5f;
}
/* some ::after */
.logo-name::after {
  content: "Prinčeža 1";
}
.adresa::after {
  content: "Vladimira Nazora 9";
}
/*----------------------------*/
/*        USLUGE PAGE         */
/*----------------------------*/
#usluge-page {
  position: static;
  min-height: 100vh;
  background-image: 
  linear-gradient(
    rgba(255, 237, 233, 0.4), 
    rgba(255, 237, 233, 0.4)
  ), url(img/arrangement-beautiful-beauty-blooming-306066.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size:cover;
  padding: 100px 0;
}
.white-wrapper {
  width: 70%;
  margin: 0 auto;
  background-color: #FFF;
  min-height: 200px;
  color: #2d3f5e;
  text-align: center;
  padding: 0px 100px;
}
.white-wrapper h1 {
  margin: 0px;
  padding: 100px 0;
}
.ww-inline {
  text-align: left;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: stretch;
}
.ww-inline-left,
.ww-inline-right {
  min-width: 50%;
  padding-left: 10px;
  padding-right: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
hr {
  width: 30%;
  border: 1px solid #e08283;
  margin: 50px auto;
}
.last {
  padding-bottom: 100px;
}

.ww-inline-right img,
.ww-inline-left img{
  width: 100%;
}
.ww-inline-h2,
.ww-inline-tag {
  display: inline;
  padding: 0;
}
.ww-inline-h2 {
  font-size: 2em;
  padding: 0;
}
.ww-inline-tag {
  font-size: 1.3;
  font-weight: 700;
}
.ww-text {
  font-family: 'Rubik', sans-serif;
}
/*----------------------------*/
/*        O NAMA PAGE         */
/*----------------------------*/
#onama-page {
  position: static;
  min-height: 100vh;
  background-image: 
  linear-gradient(
    rgba(255, 237, 233, 0.4), 
    rgba(255, 237, 233, 0.4)
  ), url(img/pink-and-white-flowers.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size:cover;
  padding: 100px 0;
}
.onama-text {
  text-align: left;
  font-family: 'Rubik', sans-serif;
  padding-bottom: 20px;
}
.onama-text-last {
  font-family: "Playfair Display", serif;
  text-align: right;
  padding: 50px 50px 100px 0px;
}
#onama-page img {
  padding: 3px 15px 4px 0px;
  width: 35%;
  float: left;
}
/*----------------------------*/
/*       EDUKACIJA PAGE       */
/*----------------------------*/